
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 pt-10 gap-4">
  {{#each products.payload}}
  <div class="hover:scale-105 duration-500 flex flex-col border justify-between max-w-sm rounded-lg overflow-hidden shadow-lg shadow-slate-800">
    <div class="px-6 py-4 flex flex-col gap-4">
      <div class="font-bold text-sm mb-2">{{this._id}}  Productos </div>
      <div class="font-bold text-2xl mb-2">{{this.title}}</div>
      <h4 class="text-gray-200 font-semibold text-xl">${{this.price}}/Mo</h4>
      <p class="text-gray-200 text-lg font-semibold">{{this.description}}</p>
      {{#if this.includes}}
      <ul>
        {{#each this.includes}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    <div class="flex justify-center mb-5">
      <button onclick="addToCart('{{this._id}}')" class="border shadow-md shadow-slate-800 hover:scale-105 duration-500 text-white font-bold py-2 px-4 rounded">Agregar al carrito</button>
    </div>
  </div>
  {{/each}}
</div>

{{#if products.hasNextPage}}
<div class="flex justify-center mt-5">
  <a href="{{products.nextLink}}" class="border shadow-md shadow-slate-800 hover:scale-105 duration-500 text-white font-bold py-2 px-4 rounded">Siguiente</a>
</div>
{{/if}}

{{#if products.hasPrevPage}}
<div class="flex justify-center mt-5">
  <a href="{{products.prevLink}}" class="border shadow-md shadow-slate-800 hover:scale-105 duration-500 text-white font-bold py-2 px-4 rounded">Anterior</a>
</div>
{{/if}}

<script>
async function addToCart(productId) {
  try {
    let cartId = localStorage.getItem("cartId");
    
    if (!cartId) {
      const response = await fetch("/api/carts/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        }
      });
      const data = await response.json();
      localStorage.setItem("cartId", data._id);
      cartId = data._id;
    }

    const response = await fetch(`/api/carts/${cartId}/products/${productId}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        quantity: 1 
      })
    });

    if (!response.ok) {
      throw new Error("Error al agregar producto al carrito");
    }

    const responseData = await response
    console.log("Producto agregado al carrito:", responseData);
  } catch (error) {
    console.error("Error:", error);
  }
}
</script>